//* Estilos globales

.auth__main {
  align-items: center;
  background-color: $primary;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  background-color: #fff;
  box-shadow: 0px 0px 8px $dark-grey;
  padding: 20px;
  width: 250px;
}

//* Estilos del Fomulario

.auth__title {
  color: darken($color: $primary, $amount: 20);
  @extend .mb-5;
}

.auth__input {
  border: 0px;
  border-bottom: 1px solid $light-grey;
  color: $dark-grey;
  font-size: 16px;
  height: 20px;
  transition: border-bottom 0.3s ease;
  margin-bottom: 10px;
  width: 100%;

  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

//? Estilos Botones Networks

.auth__social-networks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

//* Estilos Alert

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}
